:root{
    --dark:#0b2545;
    --medium:#282828;
    --accent:#404040;
    --bodyTextColorWhite: #fafbfc;
}


body.dark-mode{
 background-color: var(--dark);   
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode span,
body.dark-mode button,
body.dark-mode li
{
    color: var(--bodyTextColorWhite)!important;
}

body.dark-mode .light{
    display: none;
}

body.dark-mode .dark{
    display:block !important;
}

.dark{
    display: none;
}

/* DARK MODE/LIGHT MODE TOGGLE BUTTON styles */
/* From Uiverse.io by Emil190313 */ 
.toggle {
	background-color: gray;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	cursor: pointer;
	/* box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1); */
	line-height: 1;
  }
  
  .input {
	display: none;
  }
  
  .icon {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	transition: transform 500ms;
  }
  
  .icon--moon {
	transition-delay: 200ms;
	color: black;
  }
  
  .icon--sun {
	transform: scale(0);
	color: yellow;
  }
  
  #switch:checked + .icon--moon {
	transform: rotate(360deg) scale(0);
  }
  
  #switch:checked ~ .icon--sun {
	transition-delay: 200ms;
	transform: scale(1) rotate(360deg);
  }
