
/**** CSS variables ****/
:root{
	--heading-font:"Oswald";
	--body-font:"Roboto";
	--btn-color:#ffea00;
	--body-bg: #fafdf6;
	--border-color:#000000;
	--light-text:rgb(143, 143, 143);
	--dark-text:#000000;
	--notes-container-color:#fefae0; 
	--btn-hover-border-col:#343a40;
}



/* ======= CSS RESET======== */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
  }
  
  /*
	2. Remove default margin
  */
  * {
	margin: 0;
  }
  
  /*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
  */
  body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  }
  
  /*
	5. Improve media defaults
  */
  img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
  }
  
  /*
	6. Remove built-in form typography styles
  */
  input, button, textarea, select {
	font: inherit;
  }
  
  /*
	7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  }
  
  /*
	8. Create a root stacking context
  */
  #root, #__next {
	isolation: isolate;
  }



/*****Utility Classes******/
.light-txt{
	color: var(--light-text) !important;
	font-size: 85%;
}

.dark-txt{
	color: var(--dark-text) !important;
}

.word-spacing{
	word-spacing: 7px;
}

.line-h{
	line-height: 1.1;
}

span{
	font-style: inherit;
}
/* hide labels, but still accessible to screen readers */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
  }

img{
	display: block;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}




/****Typography style*****/
h1,h2,h3,h4,h5,h6{
	font-family: var(--heading-font),sans-serif;
	font-weight:800;
}

h6{
	font-weight:400;
	font-style: italic;	
}

textarea, input{
	font-family: var(--body-font),sans-serif;
	font-weight: 700;
}

label{
	font-family: var(--heading-font),sans-serif;
}

.modal-center{
	font-family: var(--heading-font),sans-serif;
	
}

.caption{
	font-weight: 500;
	font-family: var(--body-font);
	color: #363636;
	font-size: 80%;
	padding: 0;
	margin: 0;
}




/****LAYOUT STYLES****/
/* .form-center{
	border: 1px solid red;
} */

/** buttons **/
.app-btns{
	border: 3px solid var(--border-color);
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	font-weight: 800;
	background: linear-gradient(90deg,rgb(255, 234, 0) 45%,rgb(255, 255, 0));
	border-radius: 0%;
	transition: all 300ms ease-in-out;
}

.app-btns:hover{
	color: #fff;
	border-color: var(--btn-hover-border-col);
	background: #000;
	box-shadow: 1px 1px 0px 1px rgba(52, 58, 64, 1);
	-webkit-box-shadow: 1px 1px 0px 1px rgba(52, 58, 64, 1);
	-moz-box-shadow: 1px 1px 0px 1px rgba(52, 58, 64, 1);
}

.create-note{
	font-size: 150%;
	padding: .1em .5em;
}

.add-cover-img-btn{
	margin-left: auto;
}

.clear-btn{
	background: linear-gradient(45deg,rgb(255, 47, 0) 50%,rgb(238, 132, 19));
	color: var(--body-bg);
}

/* dark mode light mode slider styles */
/* From Uiverse.io by Madflows */ 
.toggle-switch {
	position: relative;
	width: 100px;
	height: 50px;
	--light: #d8dbe0;
	--dark: #28292c;
	--link: rgb(27, 129, 112);
	--link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: var(--dark);
	border-radius: 25px;
	cursor: pointer;
	border: 3px solid var(--dark);
  }
  
  .checkbox {
	position: absolute;
	display: none;
  }
  
  .slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
	background-color: var(--light);
  }
  
  .slider::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	-webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
	box-shadow: inset 12px -4px 0px 0px var(--light);
	background-color: var(--dark);
	-webkit-transition: 0.3s;
	transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
	background-color: var(--dark);
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  





/** Cover Image Modal **/
.modal-bg{
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	/* display: grid; */
	display: none;
	place-content: center;
	background-color: color-mix(in srgb, rgba(0, 0, 0, 0.7) 80%, transparent 20%);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	z-index: -100;
}

.cover-img-modal{
	width: 380px;
	height: 320px;
	border: 4px solid var(--border-color);
	background-color: var(--body-bg);
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	position: relative;
}

/*file input label styled like a button */
.cover-img-label{
	width: 50px;
	display: inline-block;
	padding: .1em;
	transform: translateY(-10px);
	cursor: pointer;
	color: #000;
	font-weight: 800;
	font-size: 130%;
	background: linear-gradient(90deg,rgb(255, 234, 0) 45%,rgb(255, 255, 0));
	animation: vibrate-1 0.3s 2s linear 2 both;
	border-radius: 2px;
}

.modal-center{
	width: 100%;
	height: 100%;
	margin: auto auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.close-modal-btn{
	border: none;
	margin-bottom: 0;
	width: 40px;
	background: var(--border-color);
	color: var(--btn-color);
	border-radius: 0;
	font-weight: 800;
	font-size: 120%;
	position: absolute;
	top: -10px;
	right: -10px;
}

.close-modal-btn:hover .fa-xmark{
	transform-origin: 50% 50%;
	animation: rotateBtn 500ms 500ms linear 1;
}

input[type="file"]{
	display: none;
}

.cover-img-wrapper{
	width: 120px;
	min-height: 120px;
	border: 4px solid var(--border-color);
    border-radius: 8px;
}

.cover-img{
	height: 100%;
	object-position: center center;
	object-fit: cover;
}




/** Input Box For Typing Notes **/
.note-input{
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	border: 4px solid var(--border-color);
	border-radius: 0%;
	outline: 0;
}

.title-input{
	border: transparent;
}

.title-input:focus,
.note-input:focus{
	background-color: rgba(243, 245, 247, 0.9);
}




/** Notes Card Styles **/
.notes-card{
	border-radius: 0%;
	border: 1px solid var(--border-color);
	border-right: 4px solid var(--border-color);
	border-bottom: 4px solid var(--border-color);
	box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 0px 1px rgba(0,0,0,1);
	cursor: pointer;
	transition: background 300ms linear, color 300ms linear !important;
	
}
/* hover effect for note cards */
/* for note card bg */
.notes-card:hover{
	background: rgba(0, 0, 0, 0.9) !important; 
	color: var(--body-bg) !important;

}
/* for note card text */
.notes-card:hover .card-txt-color{
	color: var(--body-bg) !important;
}

.note-btn{
	transition: color 300ms linear !important;
}
/* for note card button */
.notes-card:hover .note-btn{
	color: var(--body-bg) !important;
}

.note-image-wrapper{
	border: 3px solid black;
	border-left: 2px solid var(--border-color);
	border-bottom: 2px solid var(--border-color);
	border-top: 2px solid var(--border-color);
	padding: 0;
	margin: 0;
}




/** Display Note Modal Styles**/
.display-note-modal{
	background-color: color-mix(in srgb, rgb(0, 0, 0) 90%, transparent 10%);
	backdrop-filter: blur(10px);
	display: none;
	/* display: grid;	 */
	place-items: center;
	z-index: -99;

}

.note-modal-center{
	background-color: var(--body-bg);
	width: 80%;
	height: fit-content;
	border: 4px solid var(--border-color);
	overflow-y: hidden;
}

.note-dp-img-wrapper{
	height: 200px;
	border: 4px solid var(--border-color);
}

.note-txt{
	overflow-y: auto;
	height: 250px;
}



/****MEDIA QUERIES****/
/** tablet screen size **/
@media screen and (min-width: 768px) {
	
	.cover-img-modal{
		width: 500px;
		height: 350px;
	}

	/** display note modal styles**/
	/*modal box for displaying note*/
	.note-modal-center {
		width: 50%;
		max-height: 624px;
	}


	.note-txt{
		height: 250px;
	}
	
}

/** large and X-large screens size **/
@media screen and (min-width: 992px) {
	/* modal box for adding cover img */
	.cover-img-modal{
		width: 450px;
		min-width: 300px;
		min-height: 300px;
		height: 50%;
	}


}



/****JS STYLES *****/
/* for animations */
.slide-in-bck-top {
	animation: slide-in-bck-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shake-bottom {
	animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/**** ANIMATIONS *****/
/** rotate animation **/
@keyframes rotateBtn {
	0%{
	   
       transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


/* ----------------------------------------------
 * Generated by Animista on 2024-9-25 6:7:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-top
 * ----------------------------------------
 */
 @keyframes slide-in-bck-top {
	0% {
	  transform: translateZ(700px) translateY(-300px);
	  opacity: 0;
	}
	100% {
	  transform: translateZ(0) translateY(0);
	  opacity: 1;
	}
  }


/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@keyframes shake-bottom {
	0%,
	100% {
	  transform: rotate(0deg);
	  transform-origin: 50% 100%;
	}
	10% {
	  transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
	  transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
	  transform: rotate(4deg);
	}
	80% {
	  transform: rotate(-2deg);
	}
	90% {
	  transform: rotate(2deg);
	}
  }
  
  /**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@keyframes vibrate-1 {
	0% {
	  transform: translate(0);
	}
	20% {
	  transform: translate(-2px, 2px);
	}
	40% {
	  transform: translate(-2px, -2px);
	}
	60% {
	  transform: translate(2px, 2px);
	}
	80% {
	  transform: translate(2px, -2px);
	}
	100% {
	  transform: translate(0);
	}
  }
  
  

